################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.v2
*.suo
*.pdb
*.exe
*.dll
/RectAlmostTessellation/obj
/RectAlmostTessellation/bin/Debug/netcoreapp3.1
